{% extends "user.html" %}

{% block content %}

      <div class="container">
        <div class="card shadow border-0 mt-3">
              <form class="card-body" action="" method="post">
                {% csrf_token %}
                <h5 class="card-title text-center text-uppercase"><strong>Change Password</strong></h5>
                <label class="float-start mt-3" for="id_opassword">Old Password</label>
                <input class="form-control" type="password" name="old_password" id="id_opassword">
                <label class="float-start mt-3" for="id_password">New Password</label>
                <input class="form-control" type="password" name="new_password" id="id_password">
                <label class="float-start mt-3" for="id_cpassword">Confirm Password</label>
                <input class="form-control" type="password" name="confirm_password" id="id_cpassword">
                <button class="btn btn-primary mt-4 text-uppercase" color="primary" type="submit" value="Submit"> Reset </button>
              </form>
        </div>
      </div>

{% endblock content %}