{% extends "user.html" %}

{% block content %}

  <div class="container">
    <h3 class="text-uppercase mt-5">Employee List</h3>
    <table class="table table-striped table-hover mt-3">
        <thead>
          <tr class="text-uppercase">
            <th scope="col">Id</th>
            <th scope="col">Username</th>
            <th scope="col">First Name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email</th>
            <th scope="col">Salary</th>
            <th scope="col">Address</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        {% for user in data %}
        <tbody>
          <tr>
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.salary }}</td>
            <td>{{ user.address }}</td>
            <td><button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirm_delete{{ user.username }}">Delete {{ user.username}}</button></td>
          </tr>
          <div class="modal fade" id="confirm_delete{{ user.username }}" aria-labelledby="exampleModalLabel" aria-hidden="false">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Confirm Delete {{ user.username }}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Are you sure to delete. </p>
                  <p>Deleted user can't be undone. </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <a href="/user_delete/{{ user.username}}/"><button type="button" class="btn btn-primary">Delete</button></a>
                </div>
              </div>
            </div>
          </div>
        </tbody>
        {% endfor %}
    </table>

  </div>

{% endblock content %}